@model Lab1_6.Models.Entity.Reservation
@{
    Layout = "~/UI/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Book Room";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Reservation" method="post" id="reservation-form">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" type="datetime-local" id="StartDate" name="StartDate" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" type="datetime-local" id="EndDate" name="EndDate" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <input asp-for="RoomId" type="hidden" value="@ViewData["RoomId"]" />
    <input asp-for="UserId" type="hidden" value="@ViewData["UserId"]" />

    <button type="submit" class="btn btn-primary">Book</button>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
<script src="/js/form-data-validation.js"></script>
